nav {
  display: flex;
  margin: 20px;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  min-height: 90px;
}

.nav-logo-container img {
  max-width: 30%;
}

.navbar-menu-container {
  display: none;
  font-weight: bold;
  color:  #46ec19;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color:  #46ec19;
  font-size: 1.1rem;
  font-weight: 600;
}

.primary-button {
  padding: 0.5rem 1.75rem;
  background-color: white;
  outline: none;
  border: 3px solid #46ec19;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}

.navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

